body {
  background-color: black;
  color: #ffffff;
  font-family: Arial, Helvetica, sans-serif;
}
a {
  color: #c78ef3;
}
.container {
  margin: 120px auto;
  max-width: 600px;
}

header {
  margin-bottom: 30px;
}

h1 {
  font-size: 36px;
  line-height: 1.5;
  text-align: center;
}

.form-container {
  background-color: #ffffff;
  margin-bottom: 30px;
  border-radius: 10px;
  box-shadow: 0px 20px 60px rgba(65, 50, 100, 0.08);
  padding: 20px;
}
form {
  display: grid;
  grid-column: 100 100 100;
  text-align: center;
}
.example {
  line-height: 1.5;
  margin-top: 5px;
  color: #1d0430;
  opacity: 0.6;
  font-size: 12px;
  position: relative;
  grid-column: 2/2;
  grid-row: 2;
  right: 260px;
  top: 10px;
  padding: 2px;
}

.input-bar {
  padding: 16px;
  border: 1px solid rgba(39, 33, 66, 0.5);
  width: 100%;
  font-size: 16px;
  border-radius: 50px;
  line-height: 20px;
  color: #270442;
  position: relative;
  left: 15px;
}

.submit-button {
  margin-left: 10px;
  background: #885df1;
  color: white;
  border: none;
  width: 150px;
  font-size: 16px;
  border-radius: 50px;
  padding: 14px 24px;
  position: relative;
  right: -80px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease;
  cursor: pointer;
}

.submit-button: hover {
  background: #7042a2;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
  transform: translateY(-4px);
  text-shadow: 0 0 10px rgba(255, 255, 255, 0.8);
}

.hidden {
  display: none;
}

.poem-container {
  background-color: #ffffff;
  align-content: center;
  padding: 10px;
  color: #270442;
}
.poem {
  font-size: 16px;
  line-height: 2px;
  padding: 20px;
  border-left: 3px solid;
  box-shadow: 0px 20 px 60px rgba(65 50, 100, 0.08);
}

footer {
  font-size: 13px;
  margin-top: 30px;
  text-align: center;
}
